
.overlay-bg {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: calc(100vh - 60px);
  background: rgba(0, 0, 0, 0.3);
  z-index: 1000;

  .content {
    display: flex;
    width: 60vw;
    margin: 0 auto;
    background: #ffffff;

    .column {
      flex-grow: 1;

      ul {
        margin: 0;
        list-style: none;


        li {
          padding: 12px;
        }
      }
    }
  }
}
