<div class="desktop-backdropStyle" data-reactid="22">
    <div class="desktop-paneContent" data-reactid="23">
        <div class="desktop-categoryContainer" data-index="0" data-group="men" data-color="#ee5f73" data-reactid="24">
            <li class="desktop-oddColumnContent" data-reactid="25">
                <ul class="desktop-navBlock" data-reactid="26">
                    <li data-reactid="27"><a href="/men-topwear" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="28">Topwear</a></li>
                    <li data-reactid="29"><a href="/men-tshirts" style="color:;" class="desktop-categoryLink"
                            data-reactid="30">T-Shirts</a></li>
                    <li data-reactid="31"><a href="/men-casual-shirts" style="color:;" class="desktop-categoryLink"
                            data-reactid="32">Casual Shirts</a></li>
                    <li data-reactid="33"><a href="/men-formal-shirts" style="color:;" class="desktop-categoryLink"
                            data-reactid="34">Formal Shirts</a></li>
                    <li data-reactid="35"><a href="/men-sweatshirts" style="color:;" class="desktop-categoryLink"
                            data-reactid="36">Sweatshirts</a></li>
                    <li data-reactid="37"><a href="/men-sweaters" style="color:;" class="desktop-categoryLink"
                            data-reactid="38">Sweaters</a></li>
                    <li data-reactid="39"><a href="/men-jackets" style="color:;" class="desktop-categoryLink"
                            data-reactid="40">Jackets</a></li>
                    <li data-reactid="41"><a href="/men-blazers" style="color:;" class="desktop-categoryLink"
                            data-reactid="42">Blazers &amp; Coats</a></li>
                    <li data-reactid="43"><a href="/men-suits" style="color:;" class="desktop-categoryLink"
                            data-reactid="44">Suits</a></li>
                    <li data-reactid="45"><a href="/rain-jacket" style="color:;" class="desktop-categoryLink"
                            data-reactid="46">Rain Jackets</a></li>
                    <div class="desktop-hrLine" data-reactid="47"></div>
                    <li data-reactid="48"><a href="/men-ethnic-wear" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="49">Indian &amp; Festive Wear</a></li>
                    <li data-reactid="50"><a href="/men-kurtas" style="color:;" class="desktop-categoryLink"
                            data-reactid="51">Kurtas &amp; Kurta Sets</a></li>
                    <li data-reactid="52"><a href="/sherwani" style="color:;" class="desktop-categoryLink"
                            data-reactid="53">Sherwanis</a></li>
                    <li data-reactid="54"><a href="/nehru-jackets" style="color:;" class="desktop-categoryLink"
                            data-reactid="55">Nehru Jackets</a></li>
                    <li data-reactid="56"><a href="/dhoti" style="color:;" class="desktop-categoryLink"
                            data-reactid="57">Dhotis</a></li>
                </ul>
            </li>
            <li class="desktop-evenColumnContent desktop-oddColumnContent" data-reactid="58">
                <ul class="desktop-navBlock" data-reactid="59">
                    <li data-reactid="60"><a href="/men-bottomwear" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="61">Bottomwear</a></li>
                    <li data-reactid="62"><a href="/men-jeans" style="color:;" class="desktop-categoryLink"
                            data-reactid="63">Jeans</a></li>
                    <li data-reactid="64"><a href="/men-casual-trousers" style="color:;" class="desktop-categoryLink"
                            data-reactid="65">Casual Trousers</a></li>
                    <li data-reactid="66"><a href="/men-formal-trousers" style="color:;" class="desktop-categoryLink"
                            data-reactid="67">Formal Trousers</a></li>
                    <li data-reactid="68"><a href="/mens-shorts" style="color:;" class="desktop-categoryLink"
                            data-reactid="69">Shorts</a></li>
                    <li data-reactid="70"><a href="/men-trackpants" style="color:;" class="desktop-categoryLink"
                            data-reactid="71">Track Pants &amp; Joggers</a></li>
                    <div class="desktop-hrLine" data-reactid="72"></div>
                    <li data-reactid="73"><a href="/men-innerwear" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="74">Innerwear &amp; Sleepwear</a></li>
                    <li data-reactid="75"><a href="/men-briefs-and-trunks" style="color:;" class="desktop-categoryLink"
                            data-reactid="76">Briefs &amp; Trunks</a></li>
                    <li data-reactid="77"><a href="/men-boxers" style="color:;" class="desktop-categoryLink"
                            data-reactid="78">Boxers</a></li>
                    <li data-reactid="79"><a href="/men-innerwear-vests" style="color:;" class="desktop-categoryLink"
                            data-reactid="80">Vests</a></li>
                    <li data-reactid="81"><a href="/men-nightwear" style="color:;" class="desktop-categoryLink"
                            data-reactid="82">Sleepwear &amp; Loungewear</a></li>
                    <li data-reactid="83"><a href="/men-thermals" style="color:;" class="desktop-categoryLink"
                            data-reactid="84">Thermals</a></li>
                    <div class="desktop-hrLine" data-reactid="85"></div>
                    <li data-reactid="86"><a href="/men-plus-size" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="87">Plus Size</a></li>
                </ul>
            </li>
            <li class="desktop-oddColumnContent" data-reactid="88">
                <ul class="desktop-navBlock" data-reactid="89">
                    <li data-reactid="90"><a href="/men-footwear" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="91">Footwear</a></li>
                    <li data-reactid="92"><a href="/men-casual-shoes" style="color:;" class="desktop-categoryLink"
                            data-reactid="93">Casual Shoes</a></li>
                    <li data-reactid="94"><a href="/men-sports-shoes" style="color:;" class="desktop-categoryLink"
                            data-reactid="95">Sports Shoes</a></li>
                    <li data-reactid="96"><a href="/men-formal-shoes" style="color:;" class="desktop-categoryLink"
                            data-reactid="97">Formal Shoes</a></li>
                    <li data-reactid="98"><a href="/men-sneakers" style="color:;" class="desktop-categoryLink"
                            data-reactid="99">Sneakers</a></li>
                    <li data-reactid="100"><a href="/men-sandals" style="color:;" class="desktop-categoryLink"
                            data-reactid="101">Sandals &amp; Floaters</a></li>
                    <li data-reactid="102"><a href="/men-flip-flops" style="color:;" class="desktop-categoryLink"
                            data-reactid="103">Flip Flops</a></li>
                    <li data-reactid="104"><a href="/men-socks" style="color:;" class="desktop-categoryLink"
                            data-reactid="105">Socks</a></li>
                    <div class="desktop-hrLine" data-reactid="106"></div>
                    <li data-reactid="107"><a href="/men-personal-care" style="color:#ee5f73;"
                            class="desktop-categoryName" data-reactid="108">Personal Care &amp; Grooming</a></li>
                    <li data-reactid="109"><a href="/men-sunglasses" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="110">Sunglasses &amp; Frames</a></li>
                    <li data-reactid="111"><a href="/mens-watches" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="112">Watches</a></li>
                </ul>
            </li>
            <li class="desktop-evenColumnContent desktop-oddColumnContent" data-reactid="113">
                <ul class="desktop-navBlock" data-reactid="114">
                    <li data-reactid="115"><a href="/men-sports-wear" style="color:#ee5f73;"
                            class="desktop-categoryName" data-reactid="116">Sports &amp; Active Wear</a></li>
                    <li data-reactid="117"><a href="/men-sports-shoes" style="color:;" class="desktop-categoryLink"
                            data-reactid="118">Sports Shoes</a></li>
                    <li data-reactid="119"><a href="/men-sports-sandals" style="color:;" class="desktop-categoryLink"
                            data-reactid="120">Sports Sandals</a></li>
                    <li data-reactid="121"><a href="/men-sports-wear-tshirts" style="color:;"
                            class="desktop-categoryLink" data-reactid="122">Active T-Shirts</a></li>
                    <li data-reactid="123"><a href="/men-trackpants-shorts" style="color:;" class="desktop-categoryLink"
                            data-reactid="124">Track Pants &amp; Shorts</a></li>
                    <li data-reactid="125"><a href="/men-tracksuits" style="color:;" class="desktop-categoryLink"
                            data-reactid="126">Tracksuits</a></li>
                    <li data-reactid="127"><a href="/men-sports-jackets" style="color:;" class="desktop-categoryLink"
                            data-reactid="128">Jackets &amp; Sweatshirts</a></li>
                    <li data-reactid="129"><a href="/men-sports-accessories" style="color:;"
                            class="desktop-categoryLink" data-reactid="130">Sports Accessories</a></li>
                    <li data-reactid="131"><a href="/men-swimwear" style="color:;" class="desktop-categoryLink"
                            data-reactid="132">Swimwear</a></li>
                    <div class="desktop-hrLine" data-reactid="133"></div>
                    <li data-reactid="134"><a href="/gadgets" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="135">Gadgets</a></li>
                    <li data-reactid="136"><a href="/smart-wearables" style="color:;" class="desktop-categoryLink"
                            data-reactid="137">Smart Wearables</a></li>
                    <li data-reactid="138"><a href="/smart-wearables?f=Categories%3AFitness%20Bands" style="color:;"
                            class="desktop-categoryLink" data-reactid="139">Fitness Gadgets</a></li>
                    <li data-reactid="140"><a href="/headphones" style="color:;" class="desktop-categoryLink"
                            data-reactid="141">Headphones</a></li>
                    <li data-reactid="142"><a href="/speakers" style="color:;" class="desktop-categoryLink"
                            data-reactid="143">Speakers</a></li>
                </ul>
            </li>
            <li class="desktop-oddColumnContent" data-reactid="144">
                <ul class="desktop-navBlock" data-reactid="145">
                    <li data-reactid="146"><a href="/men-accessories" style="color:#ee5f73;"
                            class="desktop-categoryName" data-reactid="147">Fashion Accessories</a></li>
                    <li data-reactid="148"><a href="/men-wallets" style="color:;" class="desktop-categoryLink"
                            data-reactid="149">Wallets</a></li>
                    <li data-reactid="150"><a href="/men-belts" style="color:;" class="desktop-categoryLink"
                            data-reactid="151">Belts</a></li>
                    <li data-reactid="152"><a href="/perfumes" style="color:;" class="desktop-categoryLink"
                            data-reactid="153">Perfumes &amp; Body Mists</a></li>
                    <li data-reactid="154"><a href="/trimmer" style="color:;" class="desktop-categoryLink"
                            data-reactid="155">Trimmers</a></li>
                    <li data-reactid="156"><a href="/deodorant" style="color:;" class="desktop-categoryLink"
                            data-reactid="157">Deodorants</a></li>
                    <li data-reactid="158"><a href="/men-belts-ties" style="color:;" class="desktop-categoryLink"
                            data-reactid="159">Ties, Cufflinks &amp; Pocket Squares</a></li>
                    <li data-reactid="160"><a href="/men-accessory-gift-set" style="color:;"
                            class="desktop-categoryLink" data-reactid="161">Accessory Gift Sets</a></li>
                    <li data-reactid="162"><a href="/men-caps" style="color:;" class="desktop-categoryLink"
                            data-reactid="163">Caps &amp; Hats</a></li>
                    <li data-reactid="164"><a href="/men-gloves-mufflers-scarves" style="color:;"
                            class="desktop-categoryLink" data-reactid="165">Mufflers, Scarves &amp; Gloves</a></li>
                    <li data-reactid="166"><a href="/mobile-phone-cases" style="color:;" class="desktop-categoryLink"
                            data-reactid="167">Phone Cases</a></li>
                    <li data-reactid="168"><a href="/men-jewellery" style="color:;" class="desktop-categoryLink"
                            data-reactid="169">Rings &amp; Wristwear</a></li>
                    <li data-reactid="170"><a href="/helmets" style="color:;" class="desktop-categoryLink"
                            data-reactid="171">Helmets</a></li>
                    <div class="desktop-hrLine" data-reactid="172"></div>
                    <li data-reactid="173"><a href="/men-bags-backpacks" style="color:#ee5f73;"
                            class="desktop-categoryName" data-reactid="174">Bags &amp; Backpacks</a></li>
                    <li data-reactid="175"><a href="/trolley-bags" style="color:#ee5f73;" class="desktop-categoryName"
                            data-reactid="176">Luggages &amp; Trolleys</a></li>
                </ul>
            </li>
        </div>
    </div>
</div>