.navLinks {
    display: flex;
    align-items: center;

    & .navContent {
        color:#333;
        font-size: 15px;
        border-bottom: 3px solid transparent;
        padding: 23px 15px 17px 15px;
        text-transform: uppercase;

        &:hover {
            border-color: violet;
            cursor: pointer;
        }
    }
}
